* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --baground: #0c0e1b;
  --baground-dark: #151932;
  --color-primary: #fff;
  --color-font: #d7e0fe;
  --color-one: #f87170;
  --color-two: #7ef870;
  --color-three: #f870a4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
