.container__login {
  width: var(--container-vw);
  height: var(--container-vh);

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--background-dark);
}

.lottieAnimation {
  background: var(--color-primary);
  width: var(--container-vw);
  height: var(--container-vh);
  display: flex;
  justify-content: center;
}

.title {
  width: 32rem;

  display: flex;

  margin-left: 2em;

  border-bottom: 1px solid #c5c5c5;
}

.title p {
  margin-left: 0.5em;

  font-size: 1.6em;
  font-style: italic;
  font-weight: var(--fontSize);

  color: #263238;
}

.ClockIcon {
  bottom: 15px;
  position: relative;

  font-size: 2rem;
  color: #3fa92b;
}

.email,
.password {
  height: 5vh;
  margin: 0.2rem 0;

  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: var(--fontSize);

  border-radius: 0.2rem;
  border: 1px solid #d9d9d9;

  color: #455a64;
}

input:focus {
  outline: none;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

.RegistrationAndGetpassword {
  display: flex;
  width: var(--container-vw);
  justify-content: space-around;
}

.form__container {
  width: 40vw;
  height: 60vh;

  margin-left: 5em;
  margin-right: 5em;

  border: none;
  border-radius: 10px;

  background: #fafafa;

  padding: var(--paddingItens);
  box-shadow: rgba(255, 253, 253, 0.35) 0px 5px 15px;
}

.form__container .form {
  display: flex;
  text-align: center;
  flex-direction: column;

  padding: var(--paddingItens) 3em;
}

.typingData__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typingData__container input {
  width: 30vw;
}

.typingData__container .btn {
  color: var(--color-primary);
  background: #17d350;
}

.typingData__container .btn:hover {
  background: #17d34f79;
  color: rgb(147 84 84 / 75%);
  font-weight: 600;
}

.btns-socials {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: var(--marginItens);
}

.btn {
  width: 23vw;

  border: 1px solid #858080;
  background: #8f8d8d;
}

.btns-socials .btn {
  color: #0f1113;
  background: #faebeb;

  font-weight: var(--fontSize);
}

.btns-socials .btn:hover {
  background: #b3b3b359;
  color: #6d6d6dd6;
}
